@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: #c9fa22;
    --brand-foreground: #c9fa22; /* 74 96 56  // 0% 100%; */

    --background: #101010; /* 0 0% 100%; */
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: #212121; /*  210 40% 96.1%; */
    --secondary-foreground: #212121; /* 222.2 47.4% 11.2%; */

    --white: #ffffff;
    --white-foreground: #ffffff;
    --white-light: #ffffffcc;
    --white-fade-5: #ffffff0d;
    --white-fade-10: #ffffff1a;
    --white-fade-15: #ffffff26;

    --black-foreground: #101010;
    --black-light: #101010cc;
    --black-fade-5: #1010100d;
    --black-fade-10: #1010101a;
    --black-fade-15: #00000026;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .light {
    --background: #ffffff;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: var(--white);
    --secondary-foreground: 210 40% 98%;

    /* --white: #ffffff; */
    --white-foreground: var(--black-foreground);
    --white-light: var(--black-light);
    --white-fade-5: var(--black-fade-5);
    --white-fade-10: var(--black-fade-10);
    --white-fade-15: var(--black-fade-15);

    --black-fade-15: var(--white-fade-15);

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "Inter", sans-serif; */
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }

  ::-webkit-scrollbar {
    width: 8px;
  }

  ::-webkit-scrollbar-track {
    background-color: var(--white-light);
    box-shadow: inset 0 0 5px var(--black-fade-5);
    border-radius: 100vw;
    margin-block: 0.2rem;
  }

  ::-webkit-scrollbar-thumb {
    background: linear-gradient(var(--brand), var(--black-foreground));
    border-radius: 100vw;
    height: 40vh; /*for vertical scrollbar */
  }

  ::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(
      var(--black-foreground),
      var(--brand),
      var(--brand)
    );
  }
}

.flex__center {
  @apply flex justify-center items-center;
}

.flex__between {
  @apply flex justify-between items-center;
}

.flex__column {
  @apply flex flex-col;
}

.flex__column__center {
  @apply flex flex-col items-center;
}

.header__h1 {
  @apply text-6xl font-bold -tracking-[0.03em] md:text-88 xl:text-112;
}

.header__h2 {
  @apply text-52 font-medium md:text-6xl;
}

.header__h3 {
  @apply text-32 leading-8 font-medium;
}

.border__fade__5 {
  @apply border border-solid border-white-fade-5;
}

.border__fade__10 {
  @apply border border-solid border-white-fade-10;
}

.card__backg__border {
  @apply bg-white-fade-5 border__fade__10;
}

.input__field__style {
  @apply w-full text-xl leading-6 font-medium xl:text-2xl xl:leading-7 text-white-foreground p-4 md:p-4 tracking-common border__fade__10 rounded-2xl;
}

.embla__dots {
  @apply flex-wrap justify-end items-center;
}
/* margin-right: calc((2.6rem - 1.4rem) / 2 * -1); */

.embla__dot {
  @apply w-8 h-8 flex__center text-white-foreground md:w-10 md:h-10 rounded-full appearance-none bg-transparent border-0;
}

.embla__dot:after {
  box-shadow: inset 0 0 0 0.2rem var(--white-fade-10);
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  content: "";
}
.embla__dot--selected:after {
  box-shadow: inset 0 0 0 0.2rem var(--white-light);
}
